<section class="signup">
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="10px"
    #f="ngForm"
    (ngSubmit)="onSubmit(f)"
  >
    <mat-form-field>
      <input
        type="email"
        matInput
        placeholder="Your email"
        ngModel
        name="email"
        email
        required
        #emailInput="ngModel"
      />
      <mat-error *ngIf="!emailInput.hasError('required')"
        >Email is invalid</mat-error
      >
      <mat-error *ngIf="emailInput.hasError('required')"
        >Field needs to be filled</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <input
        type="password"
        matInput
        placeholder="Your password"
        ngModel
        name="password"
        required
        minlength="6"
        #pwInput="ngModel"
      />
      <mat-hint>Password needs to be a least 6 characters</mat-hint>
      <mat-hint align="end">{{ pwInput.value?.length }}/6</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Your birthdate"
        [matDatepicker]="picker"
        [max]="maxDate"
        ngModel
        name="birthdate"
        required
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-checkbox ngModel name="agree" required color="primary"
      >Agree to Terms and Conditions</mat-checkbox
    >
    <button
      *ngIf="!(isLoading$ | async)"
      mat-raised-button
      type="submit"
      color="primary"
      [disabled]="f.invalid"
    >
      Submit
    </button>
    <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
  </form>
</section>
