a {
  text-decoration: none;
  color: #fafafa;
}

a:hover,
a:active {
  color: #ccc;
}
.navigation-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-caption {
  display: inline-block;
  padding-left: 6px;
}
