<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Recipe Book</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="nav-item active" routerLinkActive="active">
          <!-- <a href="#" (click)="onSelect('recipe')"
            >Shopping List</a
          > -->
          <a routerLink="/recipes">Recipes</a>
        </li>
        <li class="nav-item active" routerLinkActive="active">
          <!-- <a href="#" (click)="onSelect('shopping-list')"
            >Shopping List</a
          > -->
          <a routerLink="/shopping-list">Shopping List</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" appDropdown>
          <a style="cursor: pointer;" class="dropdown-toggle" role="button"
            >Manage <span class="caret"></span
          ></a>
          <ul class="dropdown-menu">
            <li><a style="cursor: pointer;">Save Data</a></li>
            <li><a style="cursor: pointer;">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
